.App {
  display: flex;
  justify-content: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 1000px;
  margin-top: 50px;
}

td, th {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #dddddd;
}
